---
name: Release
on:
  release:
    types:
      - published
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - run: pipx run build
      - run: pipx run twine check dist/*
      - uses: actions/upload-artifact@v5
        with:
          path: dist/*
  publish:
    needs: [build]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: artifact
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
